#Registeration-form {
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
}

#username,
.btn {
    border: 1px solid #908ca7;
    padding: .9em 1em;
    border-radius: 20px;

}

#email,
.btn {
    border: 1px solid #908ca7;
    padding: .9em 1em;
    border-radius: 20px;

}

#username,
.btn {
    border: 1px solid #908ca7;
    padding: .9em 1em;
    border-radius: 20px;

}

#password,
.btn {
    border: 1px solid #908ca7;
    padding: .9em 1em;
    border-radius: 20px;

}

#Registeration-form>input:focus {
    outline: none;
}

#Registeration-form>.btn {
    background-color: #1b2157;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 5px 5px 10px #1a2958;
    border-radius: 20px;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-col {
    flex-direction: column;
}