body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #12064f, #2c1376a5, #0a193b96);
  background: linear-gradient(to right, #5a5d8c, #1a1c41, #020425);
}

.Registration-form {
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.Registration-form-body {
  text-align: left;
  padding: 20px 10px;
}

.Registration-form-body>* {
  padding: 5px;
}

.Registration-form__label {
  width: 40%;
}

.Registration-form_input {
  width: 60%;
}

.footer {
  text-align: center;
}