.Table{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 20%;
  }
    
  table {
    border: 2px solid rgb(45, 34, 139);
    border-radius: 20px;
    border-width: 4px;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid rgb(29, 17, 85);
  }
    
  td {
    text-align: center;
  } 