.main {
    max-width: 1500px;
    max-height: 1500px;
    height: 75  vh;
    width: 100vw;
    display: flex;
    border: 0px solid #e9ecef;
    border-radius: 20px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: rgb(189, 188, 216);
    position: fixed;
    right: 10%;
    
}

.main .col_1 {
    margin: auto;
    padding: 3em 2em;
    background-color: #1b2157;
    border-radius: 20px;
    border-color: #1b2157;
    border-width: 10px;
   
}

.main .col_2 {
    margin: auto;
    padding: 0em 0em;
    width: 1000px;
    border-color: #1b2157;
    border-width: 10px;
   
}

#form {
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
}

#form>input,
.btn {
    border: 1px solid #908ca7;
    padding: .9em 1em;
    border-radius: 20px;

}

#form>input:focus {
    outline: none;
}

#form>.btn {
    background-color: #1b2157;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 5px 5px 10px #384772;
    border-radius: 20px;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-col {
    flex-direction: column;
}

@media screen and (min-width: 860px) {
    .main .col_2 img {
        display: initial;
    }
}



