.main{
    position: absolute;
    left: 650px;
    max-width: 1400px;
    max-height: 1200px;
    height: 70vh;
    width: 100vw;
    display: flex;
    border: 0px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: hsl(0, 0%, 100%);
  }