@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {
  font-family: "Poppins", cursive;
  margin: 0;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #12064f, #2c1376a5, #0a193b96);
  background: linear-gradient(to right, #5a5d8c, #1a1c41, #020425);
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}