@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {
  font-family: "Poppins", cursive;
  margin: 0;
}

body {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12064f, #2c1376a5, #0a193b96);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5a5d8c, #1a1c41, #020425);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  max-width: 1200px;
  max-height: 1200px;
  height: 60vh;
  width: 100vw;
  display: flex;
  border: 0px solid #e9ecef;
  border-radius: 20px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: rgb(255, 255, 255);
}


.section span {
  color: #404362;
  font-size: large;

}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form>input,
.btn {
  border: 1px solid #908ca7;
  padding: .9em 1em;
  border-radius: 20px;

}

#form>input:focus {
  outline: none;
}

#form>.btn {
  background-color: #1b2157;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 5px 5px 10px #1a2958;
  border-radius: 20px;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.section .col-1 {
  margin: auto;
  padding: 2em 0;
}

.section .col-2 img {
  width: 650px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}


@media screen and (min-width: 860px) {
  .section .col-2 img {
    display: initial;
  }

  .Sidebar {
    height: 100%;
    width: 400px;
    background-color: #e9ecef;
    position: absolute;
    left: 0px;


  }

  .SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
  }

  .SidebarList .row {
    width: 90%;
    height: 80px;

    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: #12064f;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .SidebarList .row:hover {
    cursor: pointer;
    background-color: #404362;
  }

  .SidebarList #active {
    background-color: #4a53a8;
  }

  .row #icon {
    position: absolute;
    left: 15px;
    display: grid;
    place-items: center;
    size: 10px;
  }

  .row #title {
    position: absolute;
    left: 80px;
    font-size: larger;


  }


}